<div id="invitacion">
  <div class="container custom-container">
    <div class="row">
      <div class="col-12 bg-boda">
        <div class="text-center">
          <section id="home">
            <img class="separador-header" src="./../assets/SEPARADOR TOP.png" alt="">
            <h1 class="titulo-boda">Bodas de oro</h1>
            <img class="foto-a" src="./../assets/foto-a.png" alt="foto-boda">
            <h2 class="sub-title-1">Te invitamos a la celebración de nuestros 50 años de casados.</h2>
          </section>
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador">
          <section id="aniversario">
            <h2 class="sub-title-1">El aniversario de:</h2>
            <h1 class="titulo-boda">Laura</h1>
            <h1 class="titulo-boda" style="margin-left: 30%; margin-top: -10%;">y</h1>
            <h1 class="titulo-boda" style="margin-top: -5%;">Francisco</h1>
          </section>
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador">
          <section id="fecha">
            <h2 class="sub-title-1" style="margin-top: 5vw;">Este:</h2>
            <h3 class="titulo-boda">3</h3>
            <h2 class="sub-title-1">Agosto - 2024</h2>
            <h3 class="titulo-boda">Conteo Regresivo</h3>
            <h2 class="sub-title-1">Solo faltan:</h2>
            <div class="container">
              <div class="row">
                <div class="col-6 text-center">
                  <div class="bg-card-time">
                    <h3 id="days" class="title-time">--</h3>
                    <h3 class="sub-title-time">Días</h3>
                  </div>
                </div>
                <div class="col-6 text-center">
                  <div class="bg-card-time">
                    <h3 id="hours" class="title-time">--</h3>
                    <h3 class="sub-title-time">Horas</h3>
                  </div>
                </div>
                <div class="col-6 text-center">
                  <div class="bg-card-time">
                    <h3 id="minutes" class="title-time">--</h3>
                    <h3 class="sub-title-time">Minutos</h3>
                  </div>
                </div>
                <div class="col-6 text-center">
                  <div class="bg-card-time">
                    <h3 id="seconds" class="title-time">--</h3>
                    <h3 class="sub-title-time">Segundos</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador">
          <section id="ubicación">
            <h3 class="titulo-boda" style="margin-top: 5vw;">Ubicación:</h3>
            <h2 class="sub-title-2">Parroquia de Nuestra Señora del Camino - A la 1:00 pm</h2>
            <img class="foto-b" src="./../assets/foto-b.png" alt="foto-boda">
            <h2 class="sub-title-2" style="margin-top: 5%; padding: 5%;">Via Atlixcáyotl No. 6402, Angelópolis.</h2>
            <a href="https://www.google.com/maps/place/Parroquia+de+Nuestra+Se%C3%B1ora+del+Camino/@19.0256781,-98.2403095,15z/data=!4m6!3m5!1s0x85cfc740f9690f61:0x444c1cf7b6576b42!8m2!3d19.0256781!4d-98.2403095!16s%2Fg%2F1tjt28bh?entry=ttu">
              <button class="btn-maps">Ver en Google Maps</button>
            </a>
            <h2 class="sub-title-2" style="margin-top: 5%; padding: 5%;">Jardín Los Fresnos - A partir 3:00 pm</h2>
            <img class="foto-b" src="./../assets/foto-c.png" alt="foto-boda">
            <h2 class="sub-title-2" style="margin-top: 5%; padding: 5%;">Privada 47 Sur No. 4302, Colonia Santa Cruz Buenavista.</h2>
            <a href="https://www.google.com/maps/place/Jardin+Los+Fresnos/@19.046142,-98.2429406,15z/data=!4m6!3m5!1s0x85cfc12bbb1307df:0xcfccd704be3b8d2!8m2!3d19.046142!4d-98.2429406!16s%2Fg%2F11b7hq0263?entry=ttu">
              <button class="btn-maps">Ver en Google Maps</button>
            </a>
          </section>          
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador" style="margin-top: 5vw; margin-bottom: 5vw;">
          <section id="codigo-vestimenta">
            <h3 class="titulo-boda" style="margin-top: 5vw; font-size: 3em;">Código de Vestimenta</h3>
            <img src="./../assets/vestido-icon.svg" alt="foto-boda" width="30%" style="margin-top: 5vw; margin-bottom: 10vw;" />
            <h2 class="sub-title-2" style="margin-top: 5%; padding: 5%;">Formal / Casual</h2>
            <h2 class="sub-title-2" style="margin-top: -10%; padding: 5%;">Color de su preferencia</h2>
            <img src="./../assets/saco-icon.svg" alt="foto-boda" width="30%" style="margin-top: 5vw; margin-bottom: 10vw;" />
          </section>
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador" style="margin-top: 5vw; margin-bottom: 5vw;">
          <section id="confirmar">
            <h3 class="titulo-boda" style="margin-top: 5vw; font-size: 3em;">Conﬁrmación de Asistencia</h3>
            <h2 class="sub-title-2" style="margin-top: -5%; padding: 5%; font-size: 1.5em;">Confirmar a más tardar el 31 de junio por WhatsApp al:</h2>
            <a href="whatsapp://send?phone=+522226851075&text=Quiero%20confirmar%20mi%20asistencia.">
              <button class="btn-number">2226 851 075</button>
            </a>
            <br>
            <a href="whatsapp://send?phone=+522226851075&text=Quiero%20confirmar%20mi%20asistencia.">
              <button class="btn-number">2221 267 668</button>
            </a>
          </section>
          <img class="img-separador" src="./../assets/separador-b.png" alt="art-separador" style="margin-top: 5vw; margin-bottom: 5vw;">
          <section id="logo-end">
            <img src="./../assets/logo-l-y-f.svg" alt="foto-boda" width="60%" style="margin-top: 5vw; margin-bottom: 10vw;" />
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
