body {
    background-image: url('./assets/bg-boda.jpg');
}

@font-face {
    font-family: CandelesPro;
    src: url('./assets/fonts/CandlescriptPro.otf') format('opentype'),
}


:root {
    --cafe-boda: #8b5e24;
    --blanco-boda: #fff;
}